/* Root & Import */

$lgray: #cecdcd;
$dgray: #5e5e5e;
$awhite: #ebebeb;
$dblue: #046db2;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* Body */

body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* General classes */

.bg-dark {
  background-color: $dgray;
}

.bg-dark > * {
  color: white !important;
}

.bg-light {
  background-color: $lgray;
}
.bg-light > * {
  color: #000 !important;
}

.container {
  // general container class to center content on page responsively
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

/* Navbar */

#Nav-main {
  position: sticky;
  top: 0;
  max-width: 100%;
  background-color: $lgray;
  padding: 0px 100px 0 100px;
  border-bottom: 1px solid $lgray;
  @media screen and (max-width: 768px) {
    padding: 0px 00px 0 00px;
  }

  .nav-items,
  .nav-user {
    display: flex;
    list-style: none;
    & > a {
      padding: 0.6rem 1.5rem 0.6rem 1.5rem;
      &:hover {
        background-color: $dgray;
        color: white;
      }
    }
    a > p {
      margin: 0;
    }
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    background-color: $awhite;
  }
  a {
    text-decoration: none;
    color: $dgray;
  }
}

/* Breadcrumbs */

.breadcrumb {
  background-color: $awhite;

  ul {
    // target all ul inside the breadcrumb
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $dgray;
  }
}

.breadcrumb-content {
  ul li + li:before {
    // adds a '/' before each li except the first
    padding: 0 3px;
    color: $dgray;
    content: "/";
  }
  a {
    color: #5a92c8;
  }
}

/* Login section */

#Login {
  z-index: 10;
  padding: 8rem 0 8rem 0;
  button {
    padding: 10px 10px;
  }
  .login-header {
    h1 {
      position: relative;
      margin: 0;
      font-size: 2.3rem;
      font-weight: 900;
      color: #000;
    }
    p {
      margin: 0;
      font-size: 1.1rem;
      color: #000;
    }
    h1:before {
      // underline the h1
      content: "";
      position: absolute;
      width: 70px;
      height: 5px;
      background-color: $dblue;
      bottom: 8px;
      z-index: -1;
    }

    @media screen and (max-width: 768px) {
      // add margin to section on mobile
      margin-left: 20px;
    }
  }

  .login-container {
    // container for the login form
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    width: 100%;
    flex-direction: row;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    form {
      // left/top side of the login section
      box-sizing: border-box;
      padding: 20px;
      width: 60%;
      background-color: #f1f1f1;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .form-group {
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        label {
          font-size: 18px;
          margin-bottom: 5px;
        }
        input {
          padding: 0.6rem 0.6rem;
          border: 1px solid #dfdfdf;
          border-radius: 5px;
          font-size: 1.3rem;
          -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.129);
          box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.129);
        }
      }
      .form-submit {
        // submit button and password reset link are contained in this div
        margin-top: 1.3rem;
        align-items: center;
        display: flex;
        font-size: 1.2rem;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          flex-direction: column-reverse;
        }

        a {
          text-decoration: none;
          width: 50%;
          font-weight: 400;
          color: $dgray;
          @media screen and (max-width: 768px) {
            margin-top: 10px;
            text-align: center;
          }
        }

        button {
          width: 50%;
          @media screen and (max-width: 768px) {
            // stretch the button to 100% width on mobile
            width: 100%;
          }
        }
      }
    }
  }

  .register-cta {
    // container for the register CTA
    padding: 0 1.2rem 0 1.2rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 18px;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100px;
    }

    p {
      // register CTA text
      margin: 0;
      color: #000;
    }
    button {
      // register button
      width: 65%;
      @media screen and (max-width: 768px) {
        // stretch the button to 100% width on mobile
        width: 100%;
      }
    }
    ::before {
      // the blue background rhombus
      content: "";
      position: absolute;
      height: 120%;
      width: 60%;
      z-index: -1;
      background-color: $dblue;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      -webkit-transform: skew(-5deg) rotate(-5deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      transform: skew(-5deg) rotate(-5deg);
      @media screen and (max-width: 768px) {
        width: 80%;
        -webkit-transform: translateY(40px) skew(-5deg) rotate(-5deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        transform: translateY(40px) skew(-5deg) rotate(-5deg);
      }
    }
  }
  button {
    border-radius: 3px;
    font-size: 18px;
    color: white;
    background-color: $dgray;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      background-color: #3b3b3b !important;
    }
  }
}

/* Footer */
footer {
  background-color: $dgray;
  margin-top: 5rem;
  width: 100vw;
  height: 80px;
  font-size: 18px;
}
