/* Root & Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/* Body */
body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* General classes */
.bg-dark {
  background-color: #5e5e5e;
}

.bg-dark > * {
  color: white !important;
}

.bg-light {
  background-color: #cecdcd;
}

.bg-light > * {
  color: #000 !important;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Navbar */
#Nav-main {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 100%;
  background-color: #cecdcd;
  padding: 0px 100px 0 100px;
  border-bottom: 1px solid #cecdcd;
}
@media screen and (max-width: 768px) {
  #Nav-main {
    padding: 0px 0px 0 0px;
  }
}
#Nav-main ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#Nav-main .nav-content {
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
}
#Nav-main li {
  padding: 0.6rem 1.5rem 0.6rem 1.5rem;
}
#Nav-main li:hover {
  cursor: pointer;
  background-color: #cecdcd;
}
#Nav-main a {
  text-decoration: none;
  color: #5e5e5e;
}

/* Breadcrumbs */
.breadcrumb {
  background-color: #ebebeb;
}
.breadcrumb ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #5e5e5e;
}

.breadcrumb-content ul li + li:before {
  padding: 0 3px;
  color: #5e5e5e;
  content: "/";
}
.breadcrumb-content a {
  color: #5a92c8;
}

/* Login section */
#Login {
  z-index: 10;
  padding: 8rem 0 8rem 0;
}
#Login button {
  padding: 10px 10px;
}
#Login .login-header h1 {
  position: relative;
  margin: 0;
  font-size: 2.3rem;
  font-weight: 900;
  color: #000;
}
#Login .login-header p {
  margin: 0;
  font-size: 1.1rem;
  color: #000;
}
#Login .login-header h1:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  background-color: #046db2;
  bottom: 8px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  #Login .login-header {
    margin-left: 20px;
  }
}
#Login .login-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  border: 1px solid #dfdfdf;
  width: 100%;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  #Login .login-container {
    flex-direction: column;
  }
}
#Login .login-container form {
  box-sizing: border-box;
  padding: 20px;
  width: 60%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  #Login .login-container form {
    width: 100%;
  }
}
#Login .login-container form .form-group {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
#Login .login-container form .form-group label {
  font-size: 18px;
  margin-bottom: 5px;
}
#Login .login-container form .form-group input {
  padding: 0.6rem 0.6rem;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  font-size: 1.3rem;
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.129);
}
#Login .login-container form .form-submit {
  margin-top: 1.3rem;
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  #Login .login-container form .form-submit {
    flex-direction: column-reverse;
  }
}
#Login .login-container form .form-submit a {
  text-decoration: none;
  width: 50%;
  font-weight: 400;
  color: #5e5e5e;
}
@media screen and (max-width: 768px) {
  #Login .login-container form .form-submit a {
    margin-top: 10px;
    text-align: center;
  }
}
#Login .login-container form .form-submit button {
  width: 50%;
}
@media screen and (max-width: 768px) {
  #Login .login-container form .form-submit button {
    width: 100%;
  }
}
#Login .register-cta {
  padding: 0 1.2rem 0 1.2rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  #Login .register-cta {
    width: 100%;
    height: 100px;
  }
}
#Login .register-cta p {
  margin: 0;
  color: #000;
}
#Login .register-cta button {
  width: 65%;
}
@media screen and (max-width: 768px) {
  #Login .register-cta button {
    width: 100%;
  }
}
#Login .register-cta ::before {
  content: "";
  position: absolute;
  height: 120%;
  width: 60%;
  z-index: -1;
  background-color: #046db2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  transform: skew(-5deg) rotate(-5deg);
}
@media screen and (max-width: 768px) {
  #Login .register-cta ::before {
    width: 80%; /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    transform: translateY(40px) skew(-5deg) rotate(-5deg);
  }
}
#Login button {
  border-radius: 3px;
  font-size: 18px;
  color: white;
  background-color: #5e5e5e;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}
#Login button:hover {
  background-color: #3b3b3b !important;
}

/* Footer */
footer {
  background-color: #5e5e5e;
  margin-top: 5rem;
  width: 100vw;
  height: 80px;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */